body {
    background-image: url(wooden_spoons2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-image: center;  */
    background-position: center;

}

